<h4>
  <span class="name">{{name}}</span> <span class="frequency">{{frequency}}</span>
  <button {{action "recordConversation"}}>We spoke!</button>
</h4>

<div class="last-conversation-days-ago">It's been {{lastConversationDaysAgo}} days</div>

<h5>Conversations</h5>
<ul>
  {{#each conversations}}
  <li>{{created_at}}</li>
  {{else}}
    Y'all haven't recorded any conversations yet.
  {{/each}}
</ul>
