<h2 id='title'>Talk App</h2>

{{link-to 'Home' 'application'}}
{{link-to 'About' 'about'}}

{{#if session.isAuthenticated}}
  <a {{action 'invalidateSession' }}>Logout</a>
{{else}}
  <a {{action 'authenticateSession'}}>Login</a>
{{/if}}

<hr>

{{outlet}}
